

  <div class="jumbotron jumbotron-fluid  "  style="max-height: 17rem">
    <div class="row">
      <div class="col-md-4" >
        <mdb-carousel class="carousel slide carousel-fade center "    [animation]="'fade'"  >

          <mdb-carousel-item>
            <img class="d-block rounded float-right " style="width: 570px; height: 200px"  src="{{cinemaService.host}}/imageCenima/cinema1.jpg" alt="First slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block rounded float-right" style="width: 570px ;height: 200px"  src="{{cinemaService.host}}/imageCenima/cinema2.jpg" alt="Second slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block rounded float-right " style="width: 570px ;height: 200px"  src="{{cinemaService.host}}/imageCenima/cinema3.jpg" alt="Third slide">
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div class="col-md-8">
        <div class="container">  
          <h1 class="display-4 text-warning">liste des cinemas au maroc</h1>
          <p class="lead  text-info" >Le e-cinema, c'est une nouvelle stratégie commerciale qui consiste à proposer directement en VOD des films de cinéma inédits. Comme “Un Incroyable Talent”, disponible depuis le 3 juillet. Depuis quelques semaines,
               le jargon de l'industrie du cinéma s'est enrichi d'un nouveau terme : e-cinema..</p>
        </div> 
      </div>
    </div>
    
    
       
    
</div> 
        <!-- <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'"  >

            <mdb-carousel-item>
              <img class="d-block "  style="max-height: 5rem"  style="max-width: 50rem" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block "  style="max-height: 5rem"  style="max-width: 50rem" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block "  style="max-height: 5rem"  style="max-width: 50rem" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
            </mdb-carousel-item>
          </mdb-carousel> -->

    
 